<div class="container-loaders">
    <p-card header="Wavy loader" [style]="{ width: '250px', height:'250px', position:'relative', border:'1px solid white'}">
        <span class="loader-1"></span>
    </p-card>
    <p-card header="Simple loader" class="card" [style]="{width: '250px', height:'250px', position:'relative', border:'1px solid white'}">
        <div class="card-body">
            <span class="loader-2"></span>
        </div>
    </p-card>
    <p-card header="Gradient loader" class="card" [style]="{width: '250px', height:'250px', border:'1px solid white'}">
        <div class="card-body">
            <span class="loader-3"></span>
        </div>
    </p-card>
</div>z