<div class="container-buttons">
    <div class="card">
        <h2 class="header">Colorful button</h2>
        <hr>
        <div class="card-body">
            <button id="button-1">
                <span>Hover me!</span>
            </button>
        </div>
    </div>
    <div class="card">
        <h2 class="header">Colorful button</h2>
        <hr>
        <div class="card-body">
            <button id="button-2">
                Hover me!
            </button>
        </div>
    </div>
    <div class="card">
        <h2 class="header">Hamburguer to cross</h2>
        <hr>
        <div class="card-body">
            <button id="button-3">
                    <div></div>
                    <div></div>
                    <div></div>
            </button>
        </div>
    </div>
    <div class="card">
        <h2 class="header">Hamburguer to cross</h2>
        <hr>
        <div class="card-body">
            <button id="button-4">
                    <p>Get started</p>
            </button>
        </div>
    </div>
    <div class="card">
        <h2 class="header">Hamburguer to cross</h2>
        <hr>
        <div class="card-body">
            <button id="button-5">
                    <p>Get started</p>
            </button>
        </div>
    </div>
</div>
