.trailer{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 20px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    pointer-events: none;
    opacity: 0;
    transition: opacity 0.6s ease;
}
.container:hover > .trailer{
    opacity: 1;
}