<div class="tiles">
    <div class="tile" *ngFor="let tile of tiles"></div>
</div>

<div class="container">
    <div class="grid">
        <div class="row">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
        </div>
        <div class="row-quantities">
            <button>Prueba</button>
                <span></span>
                <p>10€</p>
                <p>10€</p>
                <p>10€</p>
                <span></span>
        </div>
    </div>
</div>