<div class="container-inputs">
    <div class="contenedor-input-1">
        <input type="text" id="input-1" required>
        <label for="input-1" class="label-1">Name</label>
    </div>
    <div class="contenedor-input-1">
        <input type="text" id="input-1" required>
        <label for="input-1" class="label-1">Name</label>
    </div>
    <div class="contenedor-input-1">
        <input type="text" id="input-1" required>
        <label for="input-1" class="label-1">Name</label>
    </div>
</div>