.container-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    width: 100%;
}
.contenedor-input-1{
    position: relative;
}
#input-1{
    height: 40px;
    width: 300px;
    border:1px solid white;
    border-radius:10px ;
    transition: all 0.3s ease-in-out;
    padding: 0 10px;
}
.label-1{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
#input-1:focus{
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}
#input-1:valid ~ .label-1,
#input-1:focus ~ .label-1 {
  top: -15px;
}