.resizeable-container{
    resize: horizontal;
    width: 50%;
    height: max-content;
    border: 1px solid white;
    overflow: auto;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 10px;
}
form>*{
    height: 50px;
}
.name{
    flex: 1 1 130px;
}
.email{
    flex: 1 0 130px;
}
form > button{
    flex: 1 0 50px;
}