<div class="container">
    <section id="carousel-films">
        <div class="card">
            <div class="card-data">
                <p>Lorem ipsum</p>
                <h2>Lorem ipsum dolor sit.</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-data">
                <p>Lorem ipsum</p>
                <h2>Lorem ipsum dolor sit.</h2>
            </div>
        </div>
        <div class="card">
            <div class="card-data">
                <p>Lorem ipsum</p>
                <h2>Lorem ipsum dolor sit.</h2>
            </div>
        </div>
    </section>
</div>